# Ignore virtual environments
venv/
.venv/
.DS_Store

# Ignore model files
ml/models/*.h5
ml/models/*.pkl
ml/*.pkl
models/*.json

# Ignore large datasets
ml/data/*.csv
data/*.xlsx
data/*.parquet

# Ignore Jupyter auto-save files
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

.vscode
